<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="./normalize-css/normalize.css" />
    <link rel="stylesheet" href="./main{{#if minify}}.min{{/if}}.css" />
</head>

<body>
    <div class="main" ng-view=""></div>
    <script src="./requirejs/require.js" data-main="./main"></script>
</body>

</html>
