*, *:before, *:after {
    -moz-box-sizing   : border-box;
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
}
body {
    color    : #333;
    font-size: 1em;
    margin   : 0;
    padding  : 0;
    & > div.main {
        margin : 0;
        padding: 2em 1.5em 2em 2em;
        img {
            display: block;
            float  : left;
            padding: 0 0.5em 0.5em 0;
            width  : 25%;
        }
    }
}
@media only screen and (max-device-width: 800px) {
    img {
        width: 100%;
    }
}
.browsehappy {
    background: #ccc;
    margin    : 0.2em 0;
    padding   : 0.2em 0;
}
